backend:
  image:
    repo: parity/substrate-telemetry-backend
    tag: v4.0-7ff9a31
  resources:
    limits:
      cpu: 100m
      memory: 800Mi
    requests:
      cpu: 100m
      memory: 800Mi
frontend:
  enabled: true
  image:
    repo: parity/substrate-telemetry-frontend
    tag: v4.0-7ff9a31
  resources:
    limits:
      cpu: 100m
      memory: 200Mi
    requests:
      cpu: 100m
      memory: 200Mi

environment: production

endpointSubdomain: telemetry
domain: w3f.dev

frontendPort: 8000
backendPortCore: 8001
backendPortShard: 8000

exporter:
  resources:
    limits:
      memory: 400Mi
    requests:
      memory: 400Mi
  enabled: true
  port: 3000
  image:
    repo: web3f/substrate-telemetry-exporter
    tag: v2.1.0
  config:
    subscribe:
      chains:
      - Kusama
      validators: []

certificate:
  enabled: true

alertrules:
  general:
    enabled: true
  validators:
    enabled: false

whiteListSourceRange: "0.0.0.0/0"

ingress:
  enabled: true
