apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ include "substrate-telemetry.frontendAppName" . }}
  namespace: {{ .Values.namespace }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/limit-rps: "10"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    ingress.kubernetes.io/whitelist-source-range: {{ .Values.whiteListSourceRange }}
spec:
  tls:
  - hosts:
      - {{ include "substrate-telemetry.frontendDomain" . }}
    secretName: {{ include "substrate-telemetry.tlsSecretName" . }}
  rules:
  - host: {{ include "substrate-telemetry.frontendDomain" . }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ include "substrate-telemetry.frontendSvcName" . }}
          servicePort: {{ .Values.frontendPort }}
      - path: /feed/
        backend:
          serviceName: {{ include "substrate-telemetry.backendSvcName" . }}
          servicePort: {{ .Values.backendPort }}
